<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <!-- 遍历内容
    <%= Object.keys(htmlWebpackPlugin.files) %>
    
    <%= Object.keys(htmlWebpackPlugin.options) %> -->
  <div class="container">测试文字颜色显示测试文字颜色显示测试文字颜色显示测试文字颜色显示测试文字颜色显示测试文字颜色显示
  </div>
  <div class="text-out">
    <p class="text">测试文字颜色显示测试文字颜色显示测试文字颜色显示测试文字颜色显示测试文字颜色显示测试文字颜色显示</p>
  </div>
</body>
</html>